<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Fancourier">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
    <!-- Coverage is opt-in locally, e.g. run phpunit with the coverage-text and
         coverage-clover CLI options writing into build/. -->
    <php>
        <env name="FANCOURIER_LIVE_TOKEN" value="" force="false"/>
    </php>
</phpunit>
